# Configuration file

client {
    # change to '{t}=false' to disable Ghost Train rendering
    B:enableGhostTrain=true

    # change to '{t}=false' to disable Polar Express (snow) rendering
    B:enablePolarExpress=true

    # 
    # change '14' to a number ranging from '0' to '15' to represent the dynamic lighting of the locomotive when Dynamic Lights mod is present.
    # If it is '0' then locomotive lightning will be disabled.
    # 
    I:locomotiveLightLevel=14
}


