# Configuration file

####################
# cottoncandysheep
####################

cottoncandysheep {
    S:biomegroups <COTTONCANDYSHEEP_DEFAULT>
    B:canSpawn=true
    I:frequency=14
    I:maxChunk=5
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=3
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# easterchicken
####################

easterchicken {
    S:biomegroups <EASTERCHICKEN_DEFAULT>
    B:canSpawn=true
    I:frequency=14
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=7
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=3
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# gummybear
####################

gummybear {
    S:biomegroups <GUMMYBEAR_DEFAULT>
    B:canSpawn=true
    I:frequency=11
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=5
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# gummymouse
####################

gummymouse {
    S:biomegroups <GUMMYMOUSE_DEFAULT>
    B:canSpawn=true
    I:frequency=14
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=10
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=4
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


