~ Saved With Hammer Lib 2.0.6.19

+C:Base={
  # Enable this part of ExpandedEquivalence (Default: true)
  +B:Enabled=true

}


+C:EMC={
  # Base cost for Fertilized Essence. Set to 0 to disable. (Default: 96, Range: [0;9223372036854775807])
  +L:FertilizedEssence=96

  # Base cost for Inferium Essence. Set to 0 to disable. (Default: 8, Range: [0;9223372036854775807])
  +L:InferiumEssence=8

  # Base cost for Intermedium Essence. Set to 0 to disable. (Default: 128, Range: [0;9223372036854775807])
  +L:IntermediumEssence=128

  # Base cost for Mob Chunk. Set to 0 to disable. (Default: 1024, Range: [0;9223372036854775807])
  +L:MobChunk=1024

  # Base cost for Prosperity Shard. Set to 0 to disable. (Default: 64, Range: [0;9223372036854775807])
  +L:ProsperityShard=64

  # Base cost for Prudentium Essence. Set to 0 to disable. (Default: 32, Range: [0;9223372036854775807])
  +L:PrudentiumEssence=32

  # Base cost for Superium Essence. Set to 0 to disable. (Default: 512, Range: [0;9223372036854775807])
  +L:SuperiumEssence=512

  # Base cost for Supremium Essence. Set to 0 to disable. (Default: 2048, Range: [0;9223372036854775807])
  +L:SupremiumEssence=2048

}


