~ Saved With Hammer Lib 2.0.6.19

+C:Base={
  # Enable this part of ExpandedEquivalence (Default: true)
  +B:Enabled=true

}


+C:EMC={
  # Base cost for Clippings And Trimmings. Set to 0 to disable. (Default: 32, Range: [0;9223372036854775807])
  +L:ClippingsAndTrimmings=32

  # Base cost for Ender Crystal. Set to 0 to disable. (Default: 21560, Range: [0;9223372036854775807])
  +L:EnderCrystal=21560

  # Base cost for Enderman Head. Set to 0 to disable. (Default: 65536, Range: [0;9223372036854775807])
  +L:EndermanHead=65536

  # Base cost for Enticing Crystal. Set to 0 to disable. (Default: 20480, Range: [0;9223372036854775807])
  +L:EnticingCrystal=20480

  # Base cost for Flour. Set to 0 to disable. (Default: 24, Range: [0;9223372036854775807])
  +L:Flour=24

  # Base cost for Grains Of Infinity. Set to 0 to disable. (Default: 32, Range: [0;9223372036854775807])
  +L:GrainsOfInfinity=32

  # Base cost for Precient Crystal. Set to 0 to disable. (Default: 23608, Range: [0;9223372036854775807])
  +L:PrecientCrystal=23608

  # Base cost for Twigs And Prunings. Set to 0 to disable. (Default: 24, Range: [0;9223372036854775807])
  +L:TwigsAndPrunings=24

}


