# Configuration file

general {
    B:areMinigamesEnabled=true

    # Available variants: debug, trace
    # Debug: additionally prints debug messages.
    # Trace: additionally prints debug and trace messages.
    # Default: debug
    S:debugLevel=debug

    # If this is equal true, then it will print additional info to log files.
    # Default: false
    B:enableDebug=false

    ##########################################################################################################
    # worldgen
    #--------------------------------------------------------------------------------------------------------#
    # Regulates dungeon appearing in world.
    ##########################################################################################################

    worldgen {
        # Whitelisted dimensions' ids that were allowed for dungeon generation and rhomb size.
        # Rhomb size means the size of rhombs, which will imaginary cover the world. Dungeon will be generated in each rhomb.
        # So the larger the size, the less chance of generation.
        # Rhomb size must be between 5 and 100.
        # Example of array element: 0; 20 - this means that dungeons will be generated in rhombs with size equal to 20 in the overworld (ID = 0).
        # Default: {0; 20}
        S:dimAndRhombList <
            0; 20
            7; 20
            111; 20
         >

        # If this is equal true, then dungeon generation will be enabled.
        # Default: true
        B:isDungeonWorldGenEnabled=true
    }

}


