ForgeTransform-1.12.2.zip
#Forge Bug
-net.minecraftforge.common.ForgeHooks

TConstructTransform-1.12.2.zip
#匠魂工具装配台
-slimeknights.tconstruct.tools.common.network.ToolStationTextPacket

AE2Transform-1.12.2.zip
#应用能源存储总线
-com.transform.AE2StorageBusTransform
#应用能源GUI
-appeng.util.Platform
#应用能源熵变机械臂
-appeng.items.tools.powered.ToolEntropyManipulator

PlaceEventTransform-1.12.2.zip
#Forge放置事件
-com.transform.ForgePlaceEventTransform

BaseTransform-1.12.2.zip
-forestry.core.inventory.ItemInventory
-thaumcraft.api.crafting.ContainerProxy
-thaumcraft.common.container.ContainerArcaneWorkbench
-thaumcraft.common.tiles.crafting.TileArcaneWorkbench
-mods.flammpfeil.slashblade.RecipeInstantRepair
-ic2.core.ContainerBase
-ic2.core.block.machine.container.ContainerIndustrialWorkbench
-ic2.core.block.machine.tileentity.TileEntityBatchCrafter$4
-forestry.core.utils.ItemStackUtil

ThermalExpansionTransform-1.12.2.zip
#热力膨胀储物桶
-cofh.thermalexpansion.block.storage.BlockCache

