# Configuration file

general {
    # Chance for the anvil to reach the next stage of breakage per use.
    # Choose a value from 0 to 1. Vanilla default is 0.12 (= 12%).
    # Min: 0.0
    # Max: 1.0
    D:"Anvil break chance"=0.11999999731779099

    # Set to -1 to remove the cap.
    # This setting will be ignored if Apotheosis is installed.
    # Min: -1
    # Max: 2147483647
    I:"New level cap"=128

    # Valid values:
    # KEEP - keeps the cumulative repair cost, same as vanilla.
    # REMOVE_REPAIR_SCALING - repairs won't increase the xp cost, but enchantments will, even for repaired items.
    # ENCHANTMENT_ONLY - repairs will always cost the same, but applying more enchantments will cost more.
    # REMOVE - removes the cumulative repair cost entirely.
    # Valid values:
    # KEEP
    # REMOVE_REPAIR_SCALING
    # ENCHANTMENT_ONLY
    # REMOVE
    S:"XP cost increase"=REMOVE_REPAIR_SCALING
}


