# Configuration file

general {
    B:betaFeatures=false

    # Requires restart. Ram usage (in MB) = (x * 16 * 2) ^ 3 / 4
    I:cacheSize=8
    B:debug=false

    # Disable all changes from this mod.
    B:enabled=true

    # Skip rendering of entities that are not visible (hidden behind blocks). Bosses will be rendered normally. This might cause issues where an entity is partly behind a block and thus does not get rendered but it's usually not really noticable.
    B:skipHiddenEntityRendering=true

    # Tile entities which will always be rendered. (Format: 'modid:entity_name')
    S:skipHiddenEntityRenderingBlacklist <
        abyssalcraft:chagaroth
        abyssalcraft:jzahar
        abyssalcraft:dragonboss
        abyssalcraft:shadowboss
        mowziesmobs:ferrous_wroughtnaut
        betterslimes:quazar
        draconicevolution:chaosguardian
        aether_legacy:sun_spirit
        extrabotany:gaiaiii
        extrabotany:voidherrscher
        botania:doppleganger
        mowziesmobs:barako
        mowziesmobs:frostmaw
        extrabotany:skullminion
        touhou_little_maid:entity.passive.maid
        defiledlands:the_destroyer
        defiledlands:the_mourner
        minecraft:wither
        minecraft:ender_dragon
        twilightforest:naga
        twilightforest:lich
        twilightforest:hydra
        twilightforest:giant_miner
        twilightforest:armored_giant
        twilightforest:ur_ghast
        twilightforest:knight_phantom
        twilightforest:minoshroom
        twilightforest:yeti_alpha
        twilightforest:hydra_head
        twilightforest:snow_queen
     >
    D:skipHiddenEntityRenderingDiff=3.0
    D:skipHiddenEntityRenderingDiff128=1.0
    D:skipHiddenEntityRenderingDiff32=2.0
    D:skipHiddenEntityRenderingDiff64=1.0
    B:skipHiddenEntityRenderingHideFarAway=true

    # Entities with a width or height greater than this value will always get rendered.
    # Min: 0.0
    # Max: 256.0
    D:skipHiddenEntityRenderingSize=3.5

    # Skip rendering of entities that are not visible (hidden behind blocks). This might cause issues where a tile entity is partly behind a block and thus does not get rendered but it's usually not really noticable.
    B:skipHiddenTileEntityRendering=true

    # Tile entities which will always be rendered. (Format: 'modid:tile_entity_name')
    S:skipHiddenTileEntityRenderingBlacklist <
        enderio:tile_travel_anchor
     >
    D:skipHiddenTileEntityRenderingDiff=3.0
    D:skipHiddenTileEntityRenderingDiff128=1.0
    D:skipHiddenTileEntityRenderingDiff32=2.0
    D:skipHiddenTileEntityRenderingDiff64=1.0
    B:skipHiddenTileEntityRenderingHideFarAway=true

    # Tile entities with a width or height greater than this value will always get rendered.
    # Min: 0.0
    # Max: 256.0
    D:skipHiddenTileEntityRenderingSize=3.0

    optifineshaderoptions {
        B:entityShadowsCulling=true
        B:entityShadowsCullingLessAggressiveMode=true

        # Min: 0.0
        # Max: 64.0
        D:entityShadowsCullingLessAggressiveModeDiff=4.0
        B:entityShadowsDisabled=false
        B:entityShadowsDistanceLimited=false
        B:entityShadowsEnabled=true

        # Min: 0.0
        # Max: 64.0
        D:entityShadowsMaxDistance=64.0
        B:terrainShadowsDisabled=false
        B:terrainShadowsDistanceLimited=false
        B:terrainShadowsEnabled=true

        # Min: 0.0
        # Max: 64.0
        D:terrainShadowsMaxHorizontalDistance=128.0

        # Min: 0.0
        # Max: 64.0
        D:terrainShadowsMaxVerticalDistance=64.0
        B:tileEntityShadowsCulling=true
        B:tileEntityShadowsCullingLessAggressiveMode=true

        # Min: 0.0
        # Max: 64.0
        D:tileEntityShadowsCullingLessAggressiveModeDiff=4.0
        B:tileEntityShadowsDisabled=false
        B:tileEntityShadowsDistanceLimited=false
        B:tileEntityShadowsEnabled=true

        # Min: 0.0
        # Max: 64.0
        D:tileEntityShadowsMaxDistance=64.0
    }

}


