# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
    # If this is true then the player will get a message when he/she tries to open a locked chest [default: true]
    B:announceChestLocked=true

    # If this is true then the player will be notified when a building is cleared [default: true]
    B:announceCleared=true

    # If this is true then the player will be notified when he or she enters a haunted building [default: true]
    B:announceEnter=true

    # If this is true then mobs will only spawn if the light level is low enough. Otherwise they spawn regardless of light level [default: false]
    B:checkValidSpawn=false

    # List of console commands to execute when a building is cleared [default: ]
    S:commandCleared <
		/give @p additions:greedycraft-city_defender_medal 1 0
     >

    # List of console commands to execute every time a building is entered [default: ]
    S:commandEntered <
     >

    # List of console commands to execute the first time a building is entered [default: ]
    S:commandFirstTime <
     >

    # List of building names where this mod will not spawn mobs [default: ]
    S:excludedBuildings <
     >

    # The chance that a building is haunted [range: 0.0 ~ 1.0, default: 0.8]
    S:hauntedChance=0.3

    # If this is true then all chests will be locked until the building is cleared [default: true]
    B:lockChestsUntilCleared=true

    # This option is only useful when 'lockChestsUntilCleared'. If true only vanilla chests will be locked. Otherwise all tile entities are locked [default: true]
    B:lockOnlyChests=true

    # The maximum damage bonus that the mob will get [range: 0.01 ~ 10000.0, default: 5.0]
    S:maxDamageBonus=1.5

    # The maximum health bonus that the mob will get [range: 0.01 ~ 10000.0, default: 5.0]
    S:maxHealthBonus=2.5

    # The maximum amount of mobs that are spawned by a haunted building [range: 1 ~ 10000, default: 50]
    I:maxMobs=30

    # This message is given when the player clears a building [default: The building feels a lot safer now!]
    S:messageBuildingCleared=§a这栋楼现在看上去安全多了！

    # This message is given when the player is halfway clearing a building [default: About half way there! Keep going!]
    S:messageBuildingHalfway=§5§o一个声音回响着：你离成功只剩下了一半。

    # This message is given when the player enters a haunted building for the first time [default: This building is haunted. Be careful!]
    S:messageBuildingHaunted=§c§o这栋建筑里传来古怪的嚎叫声...你感到不寒而栗。

    # This message is given when the player tries to open a chest in a haunted building [default: The building isn't safe enough!]
    S:messageUnsafeBuilding=§c§o这个箱子被一个神秘的力量诅咒着，你无法打开。

    # The minimum damage bonus that the mob will get [range: 0.01 ~ 10000.0, default: 2.0]
    S:minDamageBonus=1.1

    # The minimum health bonus that the mob will get [range: 0.01 ~ 10000.0, default: 2.0]
    S:minHealthBonus=1.5

    # The minimum amount of mobs that are spawned by a haunted building [range: 1 ~ 10000, default: 10]
    I:minMobs=8

    # The minimum distance between the player and newly spawned mobs [range: 0.0 ~ 16.0, default: 8.0]
    S:minSpawnDistance=3.0

    # List of mobs that can spawn in buildings together with their rarity [default: [.3=minecraft:zombie], [.3=minecraft:spider], [.3=minecraft:skeleton], [.2=minecraft:husk], [.2=minecraft:stray], [.1=minecraft:witch], [.1=minecraft:enderman]]
    S:mobs <
        .3=minecraft:zombie
        .3=minecraft:spider
        .3=minecraft:skeleton
		.3=headcrumbs:human
        .2=minecraft:husk
        .2=minecraft:stray
        .1=minecraft:witch
		.1=minecraft:zombie_pigman
        .1=minecraft:enderman
     >

    # List of boots that the mobs can have together with their rarity [default: [.3=null], [.3=minecraft:diamond_boots], [.3=minecraft:iron_boots]]
    S:randomBoots <
        .6=null
        .1=minecraft:diamond_boots
        .3=minecraft:iron_boots
     >

    # List of chestplates that the mobs can have together with their rarity [default: [.3=null], [.3=minecraft:diamond_chestplate], [.3=minecraft:iron_chestplate]]
    S:randomChestplates <
        .6=null
        .1=minecraft:diamond_chestplate
        .3=minecraft:iron_chestplate
     >

    # List of effects that a mob can have. Note that multiple effects are possible [default: [.3=minecraft:regeneration,3], [.3=minecraft:speed,3], [.3=minecraft:fire_resistance,3]]
    S:randomEffects <
        .2=minecraft:regeneration,2
        .3=minecraft:speed,2
        .2=minecraft:fire_resistance,1
     >

    # List of helmets that the mobs can have together with their rarity [default: [.3=null], [.3=minecraft:diamond_helmet], [.3=minecraft:iron_helmet]]
    S:randomHelmets <
        .6=null
        .1=minecraft:diamond_helmet
        .3=minecraft:iron_helmet
     >

    # List of leggings that the mobs can have together with their rarity [default: [.3=null], [.3=minecraft:diamond_leggings], [.3=minecraft:iron_leggings]]
    S:randomLeggings <
        .6=null
        .1=minecraft:diamond_leggings
        .3=minecraft:iron_leggings
     >

    # List of weapons that the mobs can have together with their rarity [default: [.3=null], [.3=minecraft:diamond_sword], [.3=minecraft:iron_sword], [.3=minecraft:bow]]
    S:randomWeapons <
        .6=null
        .1=minecraft:diamond_sword
        .2=minecraft:iron_sword
        .3=minecraft:bow
     >

    # The amount of ticks that the server waits before checking for new spawns [range: 1 ~ 1000000, default: 200]
    I:serverTickTimeout=100

    # The maximum amount of entities that can spawn near each other (of the same type) [range: 1 ~ 200, default: 6]
    I:spawnMaxNearby=6

    # The chance that a building is haunted. This version is used in case the building is in a Lost City sphere [range: 0.0 ~ 1.0, default: 0.8]
    S:sphereHauntedChance=0.3

    # The maximum amount of mobs that are spawned by a haunted building. This version is used in case the building is in a Lost City sphere [range: 1 ~ 10000, default: 50]
    I:sphereMaxMobs=30

    # The minimum amount of mobs that are spawned by a haunted building. This version is used in case the building is in a Lost City sphere [range: 1 ~ 10000, default: 10]
    I:sphereMinMobs=8
}


