# Configuration file

##########################################################################################################
# crack hammer recipes
#--------------------------------------------------------------------------------------------------------#
# This section allows you to add your own recipes for the Crack Hammer (and other rock 
# crushers). Recipes are specified in semicolon (;) delimited lists of formulas in the 
# format modid:name#y->x*modid:name#y, where x is the number of items in a stack and y 
# is the metadata value. Note that both x and y are optional, so you can use the 
# formula modid:name->modid:name for most items/blocks. 
# 
# All properties in this section will be parsed for formulas, regardless their name. 
# This lets you organize your recipe lists for easier reading.
##########################################################################################################

"crack hammer recipes" {
    # Example: minecraft:stained_glass#11->minecraft:dye#4; minecraft:wool->4*minecraft:string
    S:custom=
}


general {
    # Disable the recipes by putting the input materials ore dictionary name ore registry name in this key.
    # The format is a semicolon (;) separate list of ore dictionary names (ie:  oreGold;oreIron;oreCopper - this would blacklist Gold, Iron and Copper ores from working [default: ]
    S:DisabledCrackhammerRecipes=

    # Enable the items for IC2 support even if the IC2 plugin is disabled [default: false]
    B:"Enable IC2 Items"=false

    # Enable the items for Mekanism support even if the Mekanism plugin is disabled [default: false]
    B:"Enable Mekanism Items"=false

    # No, not the Village People, trades with Villagers.
    # Basically... if you don't want BaseMetals (or other *Metals items and blocks) registered as trades with various villagers, set this to false [default: true]
    B:"Enable Villager Trades"=true

    # If false, then MMDLib Achievements will be disabled (This is currently required if you disable any metals [default: true]
    B:achievements=true

    # If true, then MMDLib will scan the Ore Dictionary to automatically add a 
    # Crack Hammer recipe for every material that has an ore, dust, and ingot. [default: true]
    B:automatic_recipes=true

    # If true then you can crackhammer full stacks of dropped items. [default: false]
    B:crackhammer_full_stacks=false

    # If true, then the crack hammer cannot be crafted. [default: false]
    B:disable_crack_hammer=false

    # If true, then the crack hammer cannot crush ingots into powders if that 
    # crackhammer is not hard enough to crush the ingot's ore. [default: true]
    B:enforce_hardness=true

    # disable this and using_orespawn to make MMDLib based mods not spawn any ores [default: true]
    B:fallback_orespawn=true

    # If true, then the crack hammer when crushing ingots/ores two dust will drop [default: true]
    B:hammer_produces_two_dust=true

    # Repair shields and armor with metal plates of the same type [default: true]
    B:repair_using_plates=true

    # If true, then the crack hammer can crush ingots/ores that a pickaxe of the same 
    # material can harvest. If false, then your crack hammer must be made of a harder 
    # material than the ore you are crushing. [default: true]
    B:strong_hammers=true

    # Upgrade a fully repaired shield to a material at least as hard as the shields current one using a plate of that material in the Anvil [default: true]
    B:upgrade_shields=true

    # If false, then Base Metals will not require MMD Ore Spawn mod. 
    # Set to false if using another mod to manually handle ore generation. [default: true]
    B:using_orespawn=true
}


"miscelanneous shared settings" {
    # Enable Furnace Smelting [default: true]
    B:enableFurnaceSmelting=true

    # Normally hitting a Some Ores with a Crackhammer gives you 2 more standard ores. With this option you get 4 dusts [default: false]
    B:makeDusts=false

    # By default some ores (Nether and End at this point) smelt to 2 standard ores - with this option you get 2 ingots [default: false]
    B:smeltToIngots=false
}


"mod integration" {
    # If false, then Base Metals will not try and integrate with Constructs Armory [default: true]
    B:conarm_integration=true

    # If false, then Base Metals will not try and integrate with Dense Ores [default: true]
    B:denseores_integration=true

    # If false, then Base Metals will not try and integrate with Ender Io [default: true]
    B:enderio_integration=true

    # If false, then Base Metals will not try and integrate with Ic2 [default: true]
    B:ic2_integration=true

    # If false, then Base Metals will not try and integrate with Mekanism [default: true]
    B:mekanism_integration=true

    # If false, then Base Metals will not try and integrate with Taiga [default: true]
    B:taiga_integration=true

    # If false, then Base Metals will not try and integrate with Tinkers Construct [default: true]
    B:tconstruct_integration=true

    # If false, then Base Metals will not try and integrate with Thaumcraft [default: true]
    B:thaumcraft_integration=true

    # If false, then Base Metals will not try and integrate with Thermal Expansion [default: true]
    B:thermalexpansion_integration=true

    # If false, then Base Metals will not try and integrate with Veinminer [default: true]
    B:veinminer_integration=true
}


"tools and items" {
    # Set to false to disable: Helmet, Chestplate, Leggings and Boots [default: true]
    B:"Enable Armor"=true

    # No, not the kind you drink at. The kind you find on jail-cells. [default: true]
    B:"Enable Bars"=true

    # Set to false to disable: Axe, Hoe, Pickaxe, Shovel and Sword [default: true]
    B:"Enable Basic Tools"=true

    # Set to false to disable: Nuggets, Ingots, Powders, Blends, Blocks and Ores [default: true]
    B:"Enable Basics"=true

    # Set to false to turn off custom bows and arrows [default: true]
    B:"Enable Bow and Arrow"=true

    # Ooooh, what does this button do? [default: true]
    B:"Enable Buttons"=true

    # Why would you want to disable a valuable early-game tool ?
    # The question we're all asking though is will it blend? [default: true]
    B:"Enable Crackhammer"=true

    # Set to false to disable custom crossbows and bolts [default: true]
    B:"Enable Crossbow and Bolts"=true

    # Doors of many wondrous materials [default: true]
    B:"Enable Door"=true

    # Enable experimental features (Don't blame us if they burn down your cat or kill your house) [default: false]
    B:"Enable Experimental"=false

    # Set to false to turn off added fishing rods [default: true]
    B:"Enable Fishing Rod"=true

    # A lot of mods have Gears, we can provide them. Turn this off if you think you don't need them. [default: true]
    B:"Enable Gear"=true

    # Set to false to disable extra Horse Armor [default: true]
    B:"Enable Horse Armor"=true

    # Levers of all different materials - they even have different hardness's [default: true]
    B:"Enable Lever"=true

    # Enable some pieces to support other mods and integrating with them (currently just 'casings' and 'dense plates') [default: true]
    B:"Enable Mod Support"=true

    # IC2, Tech Reborn and a number of other mods require plates of material. This provides recipes for them. [default: true]
    B:"Enable Plates"=true

    # Now your traps can be hidden in even more places! [default: true]
    B:"Enable Pressure-plates"=true

    # Spare the Rod... Wait, no, that's Biblical...
    # This controls whether or not rods of various materials (similar to Tinkers' Construct Tool Rod) sare available [default: true]
    B:"Enable Rod"=true

    # Enable Scythe [default: false]
    B:"Enable Scythe"=false

    # I love Shears, do you? If you're a Shears hater, set this to false [default: true]
    B:"Enable Shears"=true

    # The Combat Update brought Shields to Vanilla Minecraft. Turn this off if you don't want them to multiply [default: true]
    B:"Enable Shield"=true

    # Slabs of all the materials that get added [default: true]
    B:"Enable Slab"=true

    # Turn this off to disable nugget-sized piles of dust.
    # (Dust is a drug and drugs are bad. Don't do drugs, mmm-kay ? [default: true]
    B:"Enable Small Dust"=true

    # Stairs of our wonderful metals! Come and get your own - or don't. It's up to you. [default: true]
    B:"Enable Stairs"=true

    # Do you want trapdoors? Because that's how you get trapdoors! [default: true]
    B:"Enable Trapdoors"=true

    # Hey, Teachers! Leave those kids alone! [default: true]
    B:"Enable Wall"=true

    # Melt down armor and tools for full value [default: true]
    B:"Furnace Cheese"=true

    # Mimic 1.11.2 armor and tool melting.
    #  Overridden by Furnace Cheese [default: true]
    B:Furnace1112=true

    # Number of Gears per recipe [range: 1 ~ 64, default: 4]
    I:"Gear Quantity"=4

    # Number of Plates per recipe [range: 1 ~ 64, default: 3]
    I:"Plate Quantity"=3

    # Number of Rods per recipe [range: 1 ~ 64, default: 4]
    I:"Rod Quantity"=4
}


