# Configuration file

##########################################################################################################
# clientonly
#--------------------------------------------------------------------------------------------------------#
# These options affect only the client that loads the mod.\nIf you are looking for keybinds, look for them in ichunutil_keybinds.cfg.
##########################################################################################################

clientonly {
    # Should gibbing have blood? [range: 0 ~ 1, default: 1]
    I:blood=1

    # Amount of blood particles spawned per gib [range: 1 ~ 1000, default: 20]
    I:bloodCount=20

    # Should blood splurt out from the wound of the gib? [range: 0 ~ 1, default: 1]
    I:bloodSplurt=1

    # Length of time gibs can live once they hit the ground [range: 0 ~ 2147483647, default: 100]
    I:gibGroundTime=100

    # Do gibs actively push mobs in its path? [range: 0 ~ 1, default: 1]
    I:gibPushing=1

    # Length of time gibs can live (entirely) [range: 0 ~ 2147483647, default: 1000]
    I:gibTime=1000

    # Should blood be green instead of red? [range: 0 ~ 1, default: 0]
    I:greenBlood=0

    # Can players be gibbed? [range: 0 ~ 1, default: 1]
    I:playerGibs=1
}


##########################################################################################################
# gameplay
#--------------------------------------------------------------------------------------------------------#
# These options affect the gameplay while using the mod.
##########################################################################################################

gameplay {
    # Allow projectiles that cause damage to mobs to gib? [range: 0 ~ 1, default: 1]
    I:allowProjectileGibbing=1

    # Chance that mobs will gib.
    # Only when Tool Effect is off. [range: 0 ~ 100, default: 100]
    I:gibChance=100

    # Should mobs without heads take massive damage? [range: 0 ~ 1, default: 1]
    I:headlessDeath=1

    # Additional projectiles which affects gibbing.
    # Default chance is 100%
    # 
    # <EntityName OR ClassName>: <Chance out of 100>, <EntityName OR ClassName>, <EntityName OR ClassName> etc
    # 
    # EG:"Arrow: 100, Snowball: 50, net.minecraft.entity.EntityWhatever: 75" [default: ]
    S:projectileList=

    # Should tools affect gibbing chance? [range: 0 ~ 1, default: 1]
    I:toolEffect=1
}


