# Configuration file

bloodmoon {
    # If the Blood Moon should be enabled
    B:bloodMoon=true

    # The chance in percent (1 = 100%) of the Blood Moon occuring
    D:bloodMoonChance=0.05

    # The amount of days that should pass until the Blood Moon happens again
    I:bloodMoonGracePeriod=4

    # The interval in days at which the Blood Moon should occur. Overrides chance setting if set to a value greater than 0.
    I:bloodMoonInterval=0

    # If the blood moon should only occur on full moon nights
    B:bloodMoonOnFull=false

    # If sleeping is allowed during a blood moon
    B:bloodMoonSleeping=false

    # The multiplier with which mobs should spawn during the blood moon (eg 2 means 2 mobs spawn instead of 1)
    I:bloodMoonSpawnMultiplier=2

    # The closest distance that mobs can spawn away from a player during the blood moon. Vanilla value is 24.
    I:bloodMoonSpawnRadius=12

    # The amount of nights that should pass before the Blood Moon occurs for the first time
    I:bloodMoonStartNight=4

    # If mobs spawned by the blood moon should die at sunup
    B:bloodMoonVanish=true
}


enchantments {
    # If enchanting should be disallowed during the day
    B:disallowDayEnchanting=false

    # A list of names of dimensions where enchanting is always allowed, and not just at night
    S:enchantingWhitelistDimensions <
        the_nether
        the_end
     >

    # If the enchantments should be enabled
    B:enchantments=false

    # If a weapon enchanted with lunar edge should increase the experience drops of mobs
    B:lunarEdgeXp=true
}


fallingstars {
    D:cometShardChance=0.05

    # The chance in percent (1 = 100%) for a falling star to appear at night for each player each second
    D:fallingStarRarity=0.009999999776482582

    # If falling stars should be enabled
    B:fallingStars=true

    # If the Star Showers should be enabled
    B:starShowers=true

    # The chance in percent (1 = 100%) of the Star Showers occuring
    D:starShowersChance=0.065

    # The amount of days that should pass until the Star Showers happens again
    I:starShowersGracePeriod=4

    # The interval in days at which the Star Showers should occur. Overrides chance setting if set to a value greater than 0.
    I:starShowersInterval=0

    # The amount of nights that should pass before the Star Showers occurs for the first time
    I:starShowersStartNight=0
}


fullmoon {
    # If mobs spawned during a full moon should have random potion effects applied to them (similarly to spiders in the base game)
    B:addPotionEffects=false

    # The chance for an additional mob to be spawned when a mob spawns during a full moon. The higher the number, the less likely. Set to 0 to disable.
    I:additionalMobsChance=10

    # If the vanilla full moon should be considered a proper lunar event
    B:fullMoon=true
}


general {
    # Names of the dimensions that lunar events should occur in
    S:allowedDimensions <
        overworld
        twilightforest
        lostcity
     >
    D:cometShardGuardianChance=0.05

    # If moon events should be announced in chat when they start
    B:eventNotifications=true

    # If the mobDuplicationBlacklist should act as a whitelist instead
    B:isMobDuplicationWhitelist=true

    # If lunar water should be enabled
    B:lunarWater=true

    # The amount of ticks that a cauldron of water must be exposed to the night sky to be ready to turn into lunar water, per moon phase. From first to last, the entries are: Full moon, new moon, waning crescent, waxing crescent, third quarter, first quarter, waning gibbous, waxing gibbous, harvest moon and blood moon. Set any entry to -1 to disable lunar water production for that phase.
    I:lunarWaterTicks <
        1200
        -1
        4800
        4800
        3600
        3600
        2400
        2400
        600
        -1
     >

    # The chance in percent (1 = 100%) for a meteor shard to be dropped from an elder guardian
    D:meteorShardGuardianChance=0.05

    # The registry names of entities that should not be spawned during the full and blood moons. If isMobDuplicationWhitelist is true, this acts as a whitelist instead.
    S:mobDuplicationBlacklist <
        minecraft:zombie
        minecraft:skeleton
        minecraft:enderman
        minecraft:creeper
        minecraft:spider
        minecraft:cave_spider
        minecraft:zombie_pigman
     >

    # If moon events should tint the sky
    B:moonEventTint=false
    I:nightTicks=10000
}


harvestmoon {
    # If the Harvest Moon should be enabled
    B:harvestMoon=true

    # The chance in percent (1 = 100%) of the Harvest Moon occuring
    D:harvestMoonChance=0.04

    # The amount of days that should pass until the Harvest Moon happens again
    I:harvestMoonGracePeriod=4

    # The amount of plants that should be grown per chunk during the harvest moon
    I:harvestMoonGrowAmount=10

    # The amount of ticks that should pass before plants are grown again during the harvest moon
    I:harvestMoonGrowInterval=100

    # The interval in days at which the Harvest Moon should occur. Overrides chance setting if set to a value greater than 0.
    I:harvestMoonInterval=0

    # If the harvest moon should only occur on full moon nights
    B:harvestMoonOnFull=false

    # The amount of nights that should pass before the Harvest Moon occurs for the first time
    I:harvestMoonStartNight=1
}


meteors {
    # The amount of uses that a gleaning crystal should have for bone-mealing
    I:crystalDurability=150

    # The amount of damage that the meteor hammer deals if the maximum flight time was used
    I:hammerDamage=8

    # The chance of a meteor spawning every second, during the day
    D:meteorChance=8.0E-6

    # The chance of a meteor spawning every second, during the day, after the gate dimension has been entered once
    D:meteorChanceAfterGate=3.5E-5

    # The chance of a meteor spawning every second, during the day, after the gate dimension has been entered once
    D:meteorChanceAfterGateNight=3.6E-4

    # The chance of a meteor spawning every second, in the end dimension
    D:meteorChanceEnd=0.003

    # The chance of a meteor spawning every second, during nighttime
    D:meteorChanceNight=4.0E-5

    # The chance of a meteor spawning every second, during a star shower
    D:meteorChanceStarShower=0.004

    # The radius in chunks that should be marked as invalid for meteor spawning around each player
    I:meteorDisallowRadius=12

    # The amount of ticks that need to pass for each player until the chance of a meteor spawning in the area is halved (and then halved again, and so on)
    I:meteorDisallowTime=6000

    # The dimension that needs to be entered to increase the spawning of meteors
    S:meteorGateDimension=the_nether

    # The amount of blocks a meteor can spawn away from the nearest player
    I:meteorSpawnRadius=640

    # If meteor content should be enabled
    B:meteors=true
}


