# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# ATTENTION: Editing this file manually is no longer necessary. 
# Type the command '/statuseffect config' without the quotes in-game to modify these settings.
##########################################################################################################

general {
    # Enables or disables the Status Effect HUD display. [default: true]
    B:enabled=true

    # Sets the position of the HUD on the screen. Valid alignment strings are topleft, topcenter, topright, middleleft, middlecenter, middleright, bottomleft, bottomcenter, bottomright. [default: middleright]
    S:alignMode=topleft

    # Set to true to disable the vanilla status effect list shown when your inventory is open, false to allow vanilla inventory behavior. [default: true]
    B:disableInventoryEffectList=true

    # Set to true to show info when chat is open, false to disable info when chat is open. [default: true]
    B:showInChat=false

    # Set to true to see the effect background box, false to disable. [default: false]
    B:enableBackground=false

    # Set to true to show effect names, false to disable. [default: true]
    B:enableEffectName=false

    # Valid color values are 0-9, a-f (color values can be found here: http://www.minecraftwiki.net/wiki/File:Colors.png). [default: f]
    S:effectNameColor=f

    # Valid color values are 0-9, a-f (color values can be found here: http://www.minecraftwiki.net/wiki/File:Colors.png). [default: f]
    S:durationColor=f

    # Set to true to enable blinking for the icon when a potion/effect is nearly gone, false to disable. [default: true]
    B:enableIconBlink=false

    # When a potion/effect has this many seconds remaining the timer will begin to blink. Set to -1 to disable blinking. [range: -1 ~ 60, default: 10]
    I:durationBlinkSeconds=10

    # Horizontal offset from the edge of the screen (when using right alignments the x offset is relative to the right edge of the screen). [range: -2147483648 ~ 2147483647, default: 2]
    I:xOffset=2

    # Set to true if you want the xOffset value to be applied when using a center alignment. [default: false]
    B:applyXOffsetToCenter=true

    # Vertical offset from the edge of the screen (when using bottom alignments the y offset is relative to the bottom edge of the screen). [range: -2147483648 ~ 2147483647, default: 2]
    I:yOffset=2

    # Set to true if you want the yOffset value to be applied when using a middle alignment. [default: false]
    B:applyYOffsetToMiddle=false

    # Vertical offset used only for the bottomcenter alignment to avoid the vanilla HUD. [range: -2147483648 ~ 2147483647, default: 41]
    I:yOffsetBottomCenter=41
}


