# Configuration file

general {
    I:"Lasso Durability"=256

    # Blacklist of mobs that cannot be captured (i.e. minecraft:cow for cow).
    S:"Mob Blacklist" <
        minecraft:ender_dragon
        minecraft:wither
        betterslimes:quazar
        aether_legacy:sun_spirit
        twilightforest:armored_giant
        twilightforest:giant_miner
        headcrumbs:human
        battletowers:golem
        draconicevolution:guardiancrystal
        minecraft:vindication_illager
        minecraft:evocation_illager
        mowziesmobs:barako
        mowziesmobs:ferrous_wroughtnaut
        mowziesmobs:frostmaw
        extrabotany:gaiaiii
        extrabotany:voidherrscher
        twilightforest:naga
        twilightforest:lich
        twilightforest:hydra
        twilightforest:giant_miner
        twilightforest:armored_giant
        twilightforest:ur_ghast
        twilightforest:knight_phantom
        twilightforest:minoshroom
        twilightforest:yeti_alpha
        twilightforest:snow_queen
        botania:doppleganger
        mowziesmobs:barakoaya
        abyssalcraft:chagaroth
        abyssalcraft:jzahar
        abyssalcraft:dragonboss
        abyssalcraft:shadowboss
        minecraft:villager_golem
     >
    D:"Mob Farm Rate" <
        150.0
        120.0
        72.0
        48.0
        32.0
        20.0
        10.0
        5.0
     >
}


