# Configuration file

general {
    I:"Lasso Durability"=256

    # Blacklist of mobs that cannot be captured (i.e. minecraft:cow for cow).
    S:"Mob Blacklist" <
        minecraft:ender_dragon
        minecraft:wither
        betterslimes:quazar
        aether_legacy:sun_spirit
        twilightforest:armored_giant
        twilightforest:giant_miner
        headcrumbs:human
        battletowers:golem
        draconicevolution:guardiancrystal
        minecraft:vindication_illager
        minecraft:evocation_illager
        mowziesmobs:barako
        mowziesmobs:ferrous_wroughtnaut
        mowziesmobs:frostmaw
        extrabotany:gaiaiii
        extrabotany:voidherrscher
        twilightforest:naga
        twilightforest:lich
        twilightforest:hydra
        twilightforest:giant_miner
        twilightforest:armored_giant
        twilightforest:ur_ghast
        twilightforest:knight_phantom
        twilightforest:minoshroom
        twilightforest:yeti_alpha
        botania:doppleganger
        mowziesmobs:barakoaya
     >
    D:"Mob Farm Rate" <
        60.0
        40.0
        30.0
        24.0
        16.0
        10.0
        5.0
        2.5
     >
}


