# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        终极精华是一个很不错的匠魂材料，如果你能快速生长作物的话就不难获得。
        你可以把所有得到的新材料都扔进冶炼炉里，看看会不会产生新的合金。
        按住~键可以快速挖矿或砍树!不仅仅如此，就连石头也能快速挖掘，不过也会快速消耗工具耐久和饥饿值。不过，你可能并不能一开始就这样做。
        若要扔出物品请按小键盘上的/按钮。
        给你的镐上装一个阿迪特部件可以极大延长它的使用时间，如果你有耐久3的话也许能达到无限耐久。
        匠魂的冶炼炉是个制造合金的好东西，如果你矿物够多的话，别拿各种粉合成了。冶炼炉可以直接浇筑出来矿物块。
        匠魂冶炼炉建议做的越大越好。
        /dank/null是个好东西，下矿再也不用担心物品栏满了。
        据说来自两个不同mod的背包可以无限套娃...
        在家旁边造一个信标吧，你就可以在信标范围内飞行了！
        如果你懒得造房子，你可以寻找村庄或者在JEI里搜索@Prefab来瞬间建造房屋！
        记得在末地传送门旁边放一个路径石，这很有用。
        如果觉得末影人太难找，你可以用迷你刷怪机来刷末影珍珠!只要做出一个套索然后抓一个末影人放到铁质刷怪机里即可。
		传送卷轴可以让你在任何地方到达激活的路径石，但是只能用一次！传送石可以无限使用，但是有冷却时间！
        在本整合包中，死亡时不会丢失物品，但会丢失75%的经验值！
        使用方向键可以调整越肩视角的相机角度和位置。
        你可以把从战利品袋里开出的各种没用的工具都扔进冶炼炉里！
        如果没法获取凛冰粉，你可以将地下发现的永冻石打粉！
        星系mod的导线可以和传输RF的导线直接连接！
        在空中搭路或者建造东西时，第一人称视角更便于操作。
        吃不同种类的食物来提升生命值！多方块厨房或许能帮到你。
        把家建在腐蚀之地是个坏主意。
        有些矿物太稀有？试着把它们种出来！
        在家里养牛也许是个好主意，有多种方法可以捕捉生物。另外，用铁砧砸死一个站在牛奶储罐上的牛会给你惊喜。
        做一个钩爪吧！你就可以飞檐走壁了。
        你可以用8个铁栅栏围绕绿宝石做一个能够存储经验的方块！
        有些匠魂材料会提供负面效果，但是有时候，这些效果是挖掘到更好矿物所必需的。
        使用4个腐肉可以合成皮革！
        岩浆的温度不足以熔化某些矿物，你需要寻找更高温的液体。
		原版的食物遭到了削弱，你应该用厨房制作更高级的食物。
		不要担心踩坏耕地，它们现在踩不坏了！
		你可以使用开袋器来快速打开战利品袋！
		找不到某样东西？在JEI或物品栏里把鼠标放在那件物品上按Y键，如果附近有箱子包含此物品的话就会冒出白色烟雾！
		找不到末地城？你可以合成一个鞘翅！虽然材料非常昂贵。
		如果你一直吃某种食物，它所提供的饥饿值就会越来越少，请寻求更丰富的食谱。
		各种怪物有时候会变成精英怪，获得各种种类的加成，遇到它们请小心。
		村民现在看上去和玩家一样，如果你让他们高兴的话也许会和你结婚生孩子？你可能需要一个结婚戒指。
		路径石有时会在村庄生成，看到它们记得激活一下！
		你会经常见到高耸入云的战斗高塔，在它们的顶层或底层会有一个强大的boss，请小心。
		你可以将鞘翅和任意盔甲用铁砧组合在一起！
		在JEI中，你可以使用拼音搜索！
		如果觉得很卡，可以试下超时空扫帚。这会清除所有掉落的物品来提高性能。
		在两个钻石块上放一个床，周围围上六个头颅，就可以进入失落的城市世界。（如果你一开始的世界类型没有选这个的话）
		这条提示并不提示任何东西，真是奇怪！
		用萤石搭建一个框架，在里面倒一桶水，开始你的天境之旅吧！
		你打的末影龙和凋零越多，它们就会变得越强！但是掉的东西也会变得更好。
		试试钓鱼吧，你可以钓到很多新东西！同时你可以用自动钓鱼挂机，然后干别的。
		各种怪物的难度会随着游戏阶段而增加！
		盔甲的减伤机制进行了一些更改，现在即使是皮革盔甲也比没盔甲好很多！
		随着难度的增加，战利品和经验掉落也会随之增加！
		在物品栏界面可以打开任务菜单，它会告诉你游戏流程，做完这些任务还有丰厚的奖励，不要忘了领取！
		首次击败原版Boss时难度会有所上升。
		你的饥饿值越低，它就消耗的越慢。
		增加最大生命值的方法有很多，你可以通过吃不同种类的食物来增加最大生命值，也可以用心之容器碎片合成心之容器来增加。Cyclic的心之容器可以在地牢中找到。
		难度上升时，Boss的血量并不会上升太多。
		在JEI中使用@前缀可以搜索某个特定mod的物品，比如@Enderio就会搜索所有Ender IO mod里的物品。
		用两个沙子可以做成一块snad，种在上面的甘蔗和仙人掌可以长得更快。
		你可以将机会方块摆成3*3*3的大立方体获得一个超大的机会方块！奖励和惩罚都很大！（警告：不要在家附近搞这个）
		在战斗中你可能会获得大量的附魔物品，你可以将它们用来发电！弱化能源炉搭配特定部件即可实现该效果。
		金锭太多？用来做幸运方块吧，你永远都不知道你会开出来什么。
		地下偶尔会出现非常罕见的巨型矿脉，如果你有幸找到一个你就发财了！这样的矿脉往往会在地表有形状特别的花簇作为指示。
		钩爪在末地非常好用，记得去末地之前一定要带上一个！
		如果弄丢了百科全书，可以用阿卡什宝典合成一个！
		龙金属是除了无尽以外最好的匠魂材料，并且还可以通过聚合装置升级！有材料的话就做一个吧。
		按Shift+del可以快速删除物品栏里所有同类物品！
		如果你的存档无法加载，请恢复至最近的备份！
		你可以制作太阳能电池板来获得免费且高效的能源。太阳能电池板有很多等级，等级越高当然效果越好!
		小心随处可见的精英怪！它们往往非常强力，有的甚至会用原力把你拉过去！不过击败他们会有非常丰厚的奖励。
		精英怪的出现几率和等级会随着难度而不断增加！
		距离出生点越远，难度越大！
		右键白雏菊可以直接在它的周围放置方块！
		觉得建筑方块不够？用凿子！
		把家建在生物群系的交界处或许是个好主意，你可以方便地养不同环境需求的蜜蜂。
		§b我加入这条信息只是想看看提示能不能变成彩色。
		无尽块块块可以当作信标底座！
		你可以在JEI菜单中输入@FTBQuests来查看一些对你做任务有帮助的物品！
		想在大白天睡觉吗？做一个吊床吧！
		当使用JEI将物品转移到合成台时，按住shift点击“+”号可一次性转移所有物品！
		你偶尔会在箱子里找到预设的“匠心之作”匠魂工具。想要修改它们的配置或是获得升级功能，给它加上§6启封之板§r就可以了！
		只有收集了足够的奖章，才能解锁最终的奖励。
		任务的最后有一个神秘的奖励，需要做完其他所有任务才能解锁。这个奖励是什么？别问我，我也不知道!
		一些匠魂工具材料可以使用对应mod的方式升级，比如龙系列工具和盔甲就可以使用聚合合成的方式升级！
		你还没有得到无尽块块块块块块块块块块块吗？真是遗憾。
		一些任务和奖励箱会奖励创造碎片，可以做成创造精华以合成一些仅限于创造模式的物品，当然也十分的昂贵。
		你可以在任何输入文字的地方使用§a章节符号§r给字符添加颜色或§n特殊格式§r！
		就算有100级跳跃提升你也不会一下跳到天上。在跳跃提升较高的情况下，请按住跳跃键来上升到更高的地方。
		击杀怪物时有概率获得奖励箱兑换券。注意很多稀有度的兑换券只有在难度足够高的时候才有可能得到。
		背包宠物是你的好伴侣，它们能为你提供非常棒的加成和一些主动技能！§m最重要的是看上去可爱§r
		XNet的管道比其他mod的管道更不容易导致卡顿，因为它们不是方块实体。
		你可以使用血之印记和血之祭品来召唤/停止血月。
		你可以在白天点击床来设定重生点。
		按住Shift时上床睡觉不会设定重生点！
		矿物太少？使用通用机械mod来达成五倍产矿吧！
		人被杀，就会死。
		到地下挖矿时记得带上船，因为地下的溶洞实在是太大了。
		请佩戴耳机以获得最佳游戏体验。
		原版的钻石镐无法挖掘黑曜石，原版的武器和盔甲都被削弱...你需要尽早发展匠魂。
		用植物纤维合成的草绳也能用于制作需要线的配方！
		你可以用空瓶和龙首来无限合成龙息！龙首不会被消耗。
		大部分地上散落的东西都可以空手右键捡起！
		打败末影龙后，你的世界会出现新的矿物！
		熔晶矿只在岩浆海的表面生成，也许黑曜石船或熔岩行者靴可以帮到你！
		饰品可以具有前缀，前缀可以提供属性加成，你可以制造重锻站来消耗经验重铸饰品。
		使用/purge命令可以清理所有掉落物品，这可能有助于提高性能，尤其是在跑图过程中，因为生成区块时会生成大量掉落物。
		刷怪笼具有刷怪次数限制，一个刷怪笼刷出一定数量的怪后就会被禁用，禁用的刷怪笼里面没有旋转的怪物模型。
		战斗高塔的大部分奖励需要打败高塔傀儡并获得钥匙后才能解锁。
		如果你想来点挑战性，试试专家模式吧！
		召唤凋灵时，请确保周围没有方块，尤其是雪和高草一类的方块容易被忽视。
		请注意：尽管大部分怪物都不会破坏地形，但是凋灵和末影龙可以！所以召唤凋灵的时候请离你的家远远的。
		黑心商人给出的交易往往很诱人！但真的货真价实吗？
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FF80AB

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


