# Configuration file

~CONFIG_VERSION: 1

bloodmagic {
    # Is holding a divination sigil required to see certain information.
    B:requireSigil=true

    # Shows the player that they're looking at a mimick block when holding a seer sigil.
    B:seeMimickWithSigil=true
}


helmets {
    B:allHelmetsProbable=true
    S:helmetBlacklist <
     >
}


storagedrawers {
    # Replace Storage Drawers default extended info.
    B:replaceDrawers=true
}


vanilla {
    # Show animal grow up timer.
    B:growupTimer=true

    # Show animal breeding cooldown.
    B:showBreedingCooldown=true
}


