# Configuration file

####################
# imp
####################

imp {
    S:biomegroups <IMP_DEFAULT>
    B:canSpawn=true
    I:frequency=10
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=12
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=8
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# nitrocreeper
####################

nitrocreeper {
    S:biomegroups <NITROCREEPER_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=4
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


