Version 13
# Biome types to use this theme in
# Valid types are =  FOREST, PLAINS, MOUNTAIN, HILLS, SWAMP, WATER, DESERT, FROZEN, JUNGLE, WASTELAND, NETHER, END, MUSHROOM, and MAGICAL
# (BEACH is consider the same as WATER here.)
#
# Biomes types where it should be used
biomes =  MOUNTAIN, HILLS, WASTELAND
# Biome types where it should never appear, even if the biome also fit one of the above types
NotInBiomes =  NETHER, END, SWAMP, WATER, MESA

# This determines the type of dungeon this should be, for the purpose of adding mobs through the API;
# Its basically like a biome dictionary for dungeons.  Valid values includ DUNGEON, NECRO, URBAN, FOREST,
# PLAINS, MOUNTAIN, SWAMP, WATER, DESERT, WASTELAND, JUNGLE, FROZEN, FIERY, NETHER, END, MUSHROOM, MAGICAL,
# SHADOW, and PARADISE.  Most should have one or two types, not more than 3 or (very rarely) 4; API user
# should be more liberal with there assigning mosters to types, not the other way around.
Type =  FIERY, MOUNTAIN
# Not sure mountains should be there...
#Type =  FIERY


# Either ALL or list of comma delimited dimension IDs
DimensionWhitelist = ALL

#
# Altitude ranges
#
# Lowest level a floor can be at
minY =  10
# Highest level a floor can be at
maxY =  25

# This is the chest file to be used; if it is chest.cfg its will be under DLDungeonsJBG,
# other chests files will be under DLDungeonsJBG/SpecialChests
ChestsFile = chests.cfg


#
# Size ranges =  This should contain 5 numbers, at least one of which must not be 0.
# These are relative probabilities for a tiny, small, medium, large, and huge dungeon (in that oreder)
sizes =  0, 15, 30, 5, 0

#
# Style elements =  These must each contain 6 numbers
# in order they must be for none, few, some, plenty, heaps, and always (not literally)
# They are relative probabilites, as before
#
# Roofless, wall-less rooms; mostly for surface dungeons
outside =  25,  0,  0,  0,  0,  0
# Amount of liquid blocks (pools) on the floor
liquids =  0, 0, 5, 85, 10, 0
# Number of extra doors which may lead to rooms off the main route
subrooms =  5, 20, 50, 45,  5,  0
# Frequency of trying to place a mini-room inside a larger room
islands = 5,  50, 10, 50, 20,  0
# How many pillars to use
pillars =  5,  30, 60, 40, 20,  0
# Not used, but will be the number of fences around outdoor rooms
fences =  5,  15, 30, 75, 25,  0
# How generally semetric and organized roosm appear
symmetry =  20, 30, 75, 25,  0, 0
# How much variability in the blocks to be used
variability =  5,  10, 25, 75, 50, 25
# Idea borrowed from Greymerk's Roguelike dungeons; chance of not building over airblocks
degeneracy =  0,  5, 15, 50, 50,  10
# How many feature to add to rooms
complexity =  5,  10, 25, 75, 15,  0
# How much variation in the Y should be found
verticle =  0, 0, 5, 55, 15, 0
# How many entrances to place
entrances =  50,  25, 15, 5, 0,  0
# Frequency of cave-like areas
naturals =  0, 0,  10, 25, 15, 

#
# Block elements
# Thes are just lists of blocks to uses in building rooms
# Warning =   Versions for version fo Minecraft before 1.7 are not compatible with 1.7+
# For 1.5.2 or 1.6.4 these must be block ids
# for version 1.7+ these are the proper, in-code names for the blocks
# Each of these must contain at least one block, but can contain as many as you like
#
# The main block for building walls
walls =  minecraft:cobblestone, minecraft:stone, minecraft:stone, $mixed_bricks_2
# The main block for building floors
floors =  minecraft:stonebrick(2), minecraft:stone, minecraft:stone, minecraft:obsidian, minecraft:dirt
# The main block for lining ceilings
ceilings =  minecraft:stonebrick(2), minecraft:stone
# Blocks to be used as outdoor fences (not yet used)
fencing =  minecraft:cobblestone_wall
# Block to represent liquids; fill pools
liquid =  minecraft:lava
# Block from which to build pillars
pillarBlock =  minecraft:stonebrick(2), minecraft:stonebrick, minecraft:stone  
# Block found in cave-like areas
caveblock = minecraft:stone,minecraft:stone, minecraft:stone, minecraft:obsidian
# The block to fill empty spaces
air = minecraft:air

#
# Mob fields
#
# These are lists of mobs, and most be in their officialm, in code names
#
# Weak, basic mobs; by default
commonMobs =  minecraft:zombie, minecraft:skeleton, minecraft:spider
# Tougher mobs everyday mobs
hardMobs =  minecraft:creeper, minecraft:blaze, minecraft:cave_spider
# Really tough mobs, Minefantasy brutes, mid-level Dungeons Mobs, and many of Lycanite's mobs go here
bruteMobs =  minecraft:witch
# The baddest of the bad, Minefantasy dragon, Dungeon Mobs rakshasa, and all bosses go here; empty by default in the overworld
# but for The Nether this has Wither Boss.
eliteMobs = 
bossMobs = 
