# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:BabySkeleton=true
    B:"Battletower Golem"=false
    B:Blaze=false
    B:BrainyZombie=true
    B:CaveSpider=true
    B:Creeper=false
    B:CultistCleric=false
    B:CultistKnight=false
    B:CultistLeader=false
    B:CultistPortalGreater=false
    B:CultistPortalLesser=false
    B:ElderGuardian=false
    B:EldritchCrab=false
    B:EldritchGolem=false
    B:EldritchGuardian=false
    B:EldritchWarden=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EntityAnvilPet=false
    B:EntityBedPet=false
    B:EntityGrimReaper=false
    B:EvocationIllager=false
    B:Firebat=false
    B:Ghast=false
    B:Giant=false
    B:GiantBrainyZombie=true
    B:Guardian=false
    B:Human=false
    B:Husk=true
    B:IllusionIllager=false
    B:InhabitedZombie=true
    B:LavaSlime=false
    B:MindSpider=true
    B:MiniQuantumBlaze=false
    B:MiniQuantumEnderman=false
    B:Pech=false
    B:PigZombie=false
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:Slime=false
    B:Spellbat=false
    B:Spider=true
    B:Stray=true
    B:TaintCrawler=false
    B:TaintSeed=false
    B:TaintSeedPrime=false
    B:TaintSwarm=false
    B:Taintacle=false
    B:TaintacleGiant=false
    B:TaintacleTiny=false
    B:ThaumSlime=false
    B:Vex=false
    B:VindicationIllager=false
    B:Wisp=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieVillager=true
    B:abyssalcraft.Jzahar=false
    B:abyssalcraft.abygolem=false
    B:abyssalcraft.abyssalzombie=false
    B:abyssalcraft.antiabyssalzombie=false
    B:abyssalcraft.anticreeper=false
    B:abyssalcraft.antighoul=false
    B:abyssalcraft.antiplayer=false
    B:abyssalcraft.antiskeleton=false
    B:abyssalcraft.antispider=false
    B:abyssalcraft.antizombie=false
    B:abyssalcraft.chagaroth=false
    B:abyssalcraft.chagarothfist=false
    B:abyssalcraft.chagarothspawn=false
    B:abyssalcraft.demonchicken=false
    B:abyssalcraft.demoncow=false
    B:abyssalcraft.demonpig=false
    B:abyssalcraft.demonsheep=false
    B:abyssalcraft.depthsghoul=false
    B:abyssalcraft.dragonboss=false
    B:abyssalcraft.dragonminion=false
    B:abyssalcraft.dreadgolem=false
    B:abyssalcraft.dreadguard=false
    B:abyssalcraft.dreadling=false
    B:abyssalcraft.dreadspawn=false
    B:abyssalcraft.evilchicken=false
    B:abyssalcraft.evilcow=false
    B:abyssalcraft.evilpig=false
    B:abyssalcraft.evilsheep=false
    B:abyssalcraft.greaterdreadspawn=false
    B:abyssalcraft.gskeleton=false
    B:abyssalcraft.jzaharminion=false
    B:abyssalcraft.lesserdreadbeast=false
    B:abyssalcraft.lessershoggoth=false
    B:abyssalcraft.omotholghoul=false
    B:abyssalcraft.remnant=false
    B:abyssalcraft.shadowbeast=false
    B:abyssalcraft.shadowboss=false
    B:abyssalcraft.shadowcreature=false
    B:abyssalcraft.shadowmonster=false
    B:abyssalcraft.shuboffspring=false
    B:barako=false
    B:barakoan_barakoana=false
    B:barakoan_player=false
    B:barakoana=false
    B:barakoaya=false
    B:black_slime=false
    B:blue_slime=false
    B:bossskeleton=true
    B:bosszombie=true
    B:"botania:pinkWither"=false
    B:bouncy_creepers.bouncy_creeper=false
    B:bound_soul=true
    B:cockatrice=false
    B:concussioncreeper=false
    B:corruption_avatar=false
    B:cqr_boar_mage=false
    B:cqr_boarman=false
    B:cqr_dummy=false
    B:cqr_dwarf=false
    B:cqr_enderman=false
    B:cqr_giant_spider=false
    B:cqr_giant_tortoise=false
    B:cqr_goblin=false
    B:cqr_golem=false
    B:cqr_gremlin=false
    B:cqr_human=false
    B:cqr_illager=false
    B:cqr_illusion_walker_king=false
    B:cqr_lich=false
    B:cqr_mandril=false
    B:cqr_minotaur=false
    B:cqr_mummy=false
    B:cqr_necromancer=false
    B:cqr_nether_dragon=false
    B:cqr_npc=false
    B:cqr_ogre=false
    B:cqr_orc=false
    B:cqr_pirate=false
    B:cqr_pirate_captain=false
    B:cqr_skeleton=false
    B:cqr_slime_part=false
    B:cqr_spectre=false
    B:cqr_triton=false
    B:cqr_walker=false
    B:cqr_walker_king=false
    B:cqr_zombie=false
    B:defiledlands.host=false
    B:defiledlands.scuttler=true
    B:defiledlands.shambler=false
    B:defiledlands.shambler_twisted=false
    B:defiledlands.slime_defiled=false
    B:defiledlands.the_destroyer=false
    B:defiledlands.the_mourner=false
    B:direslime=false
    B:direwolf=false
    B:"draconicevolution:ChaosGuardian"=false
    B:enderiozoo.concussioncreeper=false
    B:enderiozoo.direslime=false
    B:enderiozoo.direwolf=false
    B:enderiozoo.enderminy=false
    B:enderiozoo.fallenknight=true
    B:enderiozoo.fallenmount=false
    B:enderiozoo.lovechild=true
    B:enderiozoo.voidslime=false
    B:enderiozoo.withercat=false
    B:enderiozoo.witherwitch=false
    B:enderminy=false
    B:fallenknight=true
    B:fallenmount=false
    B:ferrous_wroughtnaut=false
    B:fire_minion=false
    B:foliaath=false
    B:frostmaw=false
    B:gold_slime=false
    B:grottol=false
    B:haunted_slime=false
    B:hostilebat=false
    B:ice_slime=false
    B:iron_slime=false
    B:jungle_slime=false
    B:knight_slime=false
    B:midnight.hunter=false
    B:midnight.nova=false
    B:midnight.penumbrian=false
    B:midnight.rifter=false
    B:midnight.stinger=false
    B:midnight.tree_hopper=false
    B:mimic=false
    B:naga=false
    B:"netherex:brute"=false
    B:"netherex:coolmar_spider"=true
    B:"netherex:ember"=false
    B:"netherex:frost"=false
    B:"netherex:ghast_queen"=false
    B:"netherex:ghastling"=false
    B:"netherex:mogus"=false
    B:"netherex:nethermite"=false
    B:"netherex:salamander"=false
    B:"netherex:spinout"=false
    B:"netherex:spore"=false
    B:"netherex:spore_creeper"=false
    B:"netherex:wight"=false
    B:netherfish=false
    B:nitrocreeper=false
    B:owl=false
    B:pirate_mimic=false
    B:purple_slime=false
    B:pvj_banshee=false
    B:pvj_ghost=false
    B:pvj_goon=false
    B:pvj_icecube=false
    B:pvj_shade=false
    B:pvj_skeletal_knight=true
    B:pvj_watcher=false
    B:"quark:ashen"=true
    B:"quark:dweller"=true
    B:"quark:foxhound"=false
    B:"quark:pirate"=true
    B:"quark:wraith"=true
    B:quazar=false
    B:red_slime=false
    B:sakura.SamuraiIllager=false
    B:sand_slime=false
    B:sentry=false
    B:spectral_slime=false
    B:sun_spirit=false
    B:tconstruct.blueslime=false
    B:thaumicaugmentation.autocaster_eldritch=false
    B:thaumicaugmentation.eldritch_golem=false
    B:thaumicaugmentation.eldritch_guardian=false
    B:thaumicaugmentation.eldritch_warden=false
    B:thaumicaugmentation.primal_wisp=false
    B:thermalfoundation.basalz=false
    B:thermalfoundation.blitz=false
    B:thermalfoundation.blizz=false
    B:tofucraft.TofuChinger=false
    B:tofucraft.TofuGandlem=false
    B:tofucraft.TofuMindCore=false
    B:tofucraft.TofuSlime=false
    B:tofucraft.TofuSpider=true
    B:tofucraft.TofuTurret=false
    B:touhou_little_maid.fairy=false
    B:touhou_little_maid.rinnosuke=false
    B:twilightforest.adherent=false
    B:twilightforest.armored_giant=false
    B:twilightforest.blockchain_goblin=false
    B:twilightforest.boggard=false
    B:twilightforest.death_tome=false
    B:twilightforest.fire_beetle=false
    B:twilightforest.giant_miner=false
    B:twilightforest.goblin_knight_lower=false
    B:twilightforest.goblin_knight_upper=false
    B:twilightforest.harbinger_cube=false
    B:twilightforest.hedge_spider=true
    B:twilightforest.helmet_crab=false
    B:twilightforest.hostile_wolf=false
    B:twilightforest.hydra=false
    B:twilightforest.ice_crystal=false
    B:twilightforest.king_spider=true
    B:twilightforest.knight_phantom=false
    B:twilightforest.kobold=false
    B:twilightforest.lich=false
    B:twilightforest.lich_minion=true
    B:twilightforest.maze_slime=false
    B:twilightforest.mini_ghast=false
    B:twilightforest.minoshroom=false
    B:twilightforest.minotaur=false
    B:twilightforest.mist_wolf=false
    B:twilightforest.mosquito_swarm=false
    B:twilightforest.naga=false
    B:twilightforest.pinch_beetle=false
    B:twilightforest.redcap=false
    B:twilightforest.redcap_sapper=false
    B:twilightforest.rising_zombie=true
    B:twilightforest.roving_cube=false
    B:twilightforest.skeleton_druid=true
    B:twilightforest.slime_beetle=false
    B:twilightforest.snow_guardian=false
    B:twilightforest.snow_queen=false
    B:twilightforest.stable_ice_core=false
    B:twilightforest.swarm_spider=true
    B:twilightforest.tower_broodling=true
    B:twilightforest.tower_ghast=false
    B:twilightforest.tower_golem=false
    B:twilightforest.tower_termite=false
    B:twilightforest.troll=false
    B:twilightforest.unstable_ice_core=false
    B:twilightforest.ur_ghast=false
    B:twilightforest.winter_wolf=false
    B:twilightforest.wraith=false
    B:twilightforest.yeti=false
    B:twilightforest.yeti_alpha=false
    B:valkyrie=false
    B:valkyrie_queen=false
    B:wasp=false
    B:whirlwind=false
    B:withercat=false
    B:witherwitch=false
    B:wood_mimic=false
    B:yellow_slime=false
    B:zephyr=false
}


