# Configuration file

plugins {
    # Adds MCPatcher-compatible custom lightmap support. [default: true]
    B:"mage:customLightmap"=true

    # Makes vanilla water rendering smoothly lit and fixes under-liquid ambient occlusion. [default: true]
    B:"mage:smoothWater"=true

    # Modifies the existing lightmaps to provide true darkness at night or in dark areas. [default: false]
    B:"mage:trueDarkness"=false

    # Adds partial MCPatcher-compatible recoloring support for resource packs. WIP. [default: true]
    B:"mcpatcher:customColors"=true
}


